/*
================= body ============================
*/
body .wrapper {
  margin: 0 auto;
}
body .categories .category-list .category a {
  display: block;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
body .categories .category-list .category a .category-count {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 10;
  text-align: right;
  color: #000000;
  font-weight: bold;
  transition: .2s ease opacity;
  opacity: 0;
  font-size: 35pt;
}
body .categories .category-list .category a .category-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -55px;
  right: -210px;
  transition: .3s ease;
}
body .categories .category-list .category a .category-overlay img {
  z-index: 10;
  opacity: 1;
  width: 150%;
}
body .categories .category-list .category a h3 {
  padding: 10px 20px;
  position: absolute;
  bottom: 5px;
  background: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  z-index: 10;
}
body .categories .category-list .category a img {
  transition: 0.4s ease-in-out;
  width: 100%;
  height: auto;
  transform: translateZ(0);
}
body .categories .category-list .category a:hover {
  background: #ffffff;
}
body .categories .category-list .category a:hover .category-count {
  opacity: 1;
}
body .categories .category-list .category a:hover > img {
  opacity: .2;
}
body .categories .category-list .category a:hover .category-overlay {
  right: -45%;
  z-index: 10;
}
body .categories .category-list .category a:hover .category-overlay img {
  z-index: 10;
  opacity: 1;
}
