/*
Media Queries
*/
/*
================= header ============================
*/
header {
  height: 200px;
}
/*
================= navigation ============================
*/
.top-navigation ul li a {
  border: 1px solid #eeeeee;
  padding: 10px 20px;
  text-transform: uppercase;
}
.top-navigation.desktop {
  display: block;
}
@media only screen and (max-width: 529px) {
  .top-navigation.desktop {
    display: none;
  }
}
.top-navigation.mobile {
  display: none;
}
@media only screen and (max-width: 529px) {
  .top-navigation.mobile {
    display: block;
  }
}
.slider {
  margin: 30px 0;
}
.slider img {
  width: 100%;
}
.slider-sidebar {
  padding: 5px;
  border: 1px solid #eeeeee;
}
/*
================= body ============================
*/
body .wrapper {
  margin: 0 auto;
}
body .categories .category-list .category a {
  display: block;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
body .categories .category-list .category a .category-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -55px;
  right: -210px;
  transition: .3s ease;
}
body .categories .category-list .category a .category-overlay img {
  z-index: 10;
  opacity: 1;
  width: 150%;
}
body .categories .category-list .category a h3 {
  padding: 10px 20px;
  position: absolute;
  bottom: 5px;
  background: #ffffff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  z-index: 10;
}
body .categories .category-list .category a img {
  transition: 0.4s ease-in-out;
  width: 100%;
  height: auto;
}
body .categories .category-list .category a:hover {
  background: #ffffff;
}
body .categories .category-list .category a:hover > img {
  opacity: .2;
}
body .categories .category-list .category a:hover .category-overlay {
  right: -45%;
  z-index: 10;
}
body .categories .category-list .category a:hover .category-overlay img {
  z-index: 10;
  opacity: 1;
}
a {
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
*:focus {
  outline: none;
}
img {
  transform: translateZ(0);
}
