/*
================= body ============================
*/

body {
  .wrapper {
    margin: 0 auto;
  }
  .top-navigation {
    &.desktop {
      display: block;
      @media @mobile {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @media @mobile {
        display: block;
      }
    }
  }
}
